{{ partial "header.html" . }}

{{if not .IsHome }}
{{if not (eq "Projects" .Title)}}
<div class="article-meta">
  <p class="terms">
    {{ range .Site.Taxonomies.tags }}
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})
    {{ end }}
  </p>
</div>
{{end}}
{{end}}

<div class="content-wrapper">
{{if not .IsHome }}
  <h1>{{ .Title | markdownify }}</h1>
  {{ end }}

  {{ .Content }}

  <ul>
     {{ $pages := .Pages }}
     {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
     {{ range (where $pages "Section" "!=" "") }}
     <li>
       <span class="date">{{ .Date.Format "2006/01/02" }}</span>
       <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
     </li>
     {{ end }}
   </ul>
</div>
{{ partial "footer.html" . }}
